.thumbnail-image {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .thumbnail-image {
    width: 254px;
    height: 170px;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 750px;
  height: 460px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}
.close-btn {
  align-self: flex-end;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  margin-top: 18px;
  margin-right: 18px;
  margin-bottom: 12px;
  outline: none;
  cursor: pointer;
}
