.app-container {
  background-color: #000000;
  min-height: 100vh;
  padding-bottom: 32px;
}
.app-banner {
  width: 100%;
}
.movies-section {
  background-color: #000000;
  margin: auto;
  max-width: 1140px;
  margin-bottom: 32px;
}
.movies-category-heading {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 600;
  line-height: 1.3;
  margin-top: 32px;
  margin-bottom: 25px;
}
